<main class="container mt-5">
  <h1 class="mb-4">Exchange Rate History for {{ currency }}</h1>
  <p>The exchange rates of the euro against foreign currencies of the European Central Bank (included in database since 30/09/2014) are presented according to their announcement date.</p>
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  <div *ngIf="historicalRates.length">
    <p>Currency name: {{ currencyName }}</p>
    <p>Currency location: {{ entityLocation }}</p>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Currency</th>
        <th scope="col">Rate</th>
        <th scope="col">Currency Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rate of historicalRates">
        <td>{{ rate.date }}</td>
        <td>{{ rate.currency }}</td>
        <td>{{ rate.rate }}</td>
        <td>{{ rate.currencyName }}</td>
      </tr>
      </tbody>
    </table>
    <div class="pagination">
      <button class="btn btn-primary" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 0">Previous</button>
      <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
      <button class="btn btn-primary" (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages - 1">Next</button>
    </div>
  </div>
  <div *ngIf="!historicalRates.length && !errorMessage">
    <p>Loading exchange rates history...</p>
  </div>
</main>
