.container {
  margin-top: 5rem;
}

.table {
  margin-top: 2rem;
}

.pagination {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-btn {
  width: 100px;
  margin: 0 5px;
}
