.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.nav-item {
  width: 170px;
  margin: 0 3px;
  text-decoration: none;
  text-align: center;
  color: #007bff;
  background-color: whitesmoke;
  padding: 10px 2px;
  border-radius: 5px;
}

.nav-item.active {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
}

.nav-item:hover {
  background-color: #0056b3;
  color: #fff;
  border-radius: 5px;
}
